<section class="d-flex justify-content-center align-items-center">
  
  <div class="card my-md-5">
    <div class="card-header text-center">
      <h1>LOGIN</h1>
    </div>
    <div class="card-body">
      <div *ngIf="errorLogin" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{errorLogin}}
      </div>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" class="text-lowercase">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password"  formControlName="password">
        </mat-form-field>

        <!--<a type="submit" class="btn btn-primary example-full-width">Iniciar Sesión</a>-->
        <input type="submit" class="btn btn-primary example-full-width" value="Iniciar Sesión" [disabled]="loginForm.invalid">
      </form>
    </div>
  </div>
</section>