<section class="container">
  <div *ngIf="listaPagos?.length > 0; else blockCargando">
    <mat-card class="my-2">
      <p class="h6 text-center mb-2" *ngIf="cuadreCaja">LISTADO DE PAGOS {{cuadreCaja.cartera.nombre}}</p>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cliente</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pagoCliente of listaPagos">
            <td>{{pagoCliente.prestamo.cliente.enrutamiento}}</td>
            <td>{{pagoCliente.fechaPago | date:'d/MM/yyyy hh:mm'}}</td>
            <td>{{pagoCliente.prestamo.cliente.entidad.nombres}} {{pagoCliente.prestamo.cliente.entidad.apellidos}}</td>
            <td>{{pagoCliente.valorPago | currency:'':'symbol':'0.0'}}</td>
            <td><a (click)="eliminarPago(pagoCliente)" class="card-link text-info">eliminar</a></td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>  
    
  <ng-template #blockCargando>
    <div class="d-flex align-items-center">
      <strong class="text-warning">Cargando...</strong>
      <div class="spinner-border text-warning"  role="status" aria-hidden="true"></div>
    </div>
  </ng-template>
</section>