<nav class="navbar navbar-light navbar-expand-md mb-2" style="background-color: #e7e7e7;" *ngIf="authService.isAuthenticated()">
    

    <a class="navbar-brand" [routerLink]="['']" >
        <img src="/assets/img/m.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Mubat
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav ml-auto">
            <a [routerLink]="['/principal']" class="nav-item nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">
                Carteras
            </a>
            <a [routerLink]="['/historial/creditos']" class="nav-item nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="authService.hasRole('ROLE_VER_HISTORIAL')">
                Historial
            </a>
            <a [routerLink]="['/informe/global']" class="nav-item nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="authService.hasRole('ROLE_VER_INFO_GLOBAL')">
                Inf. Global
            </a>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{authService.usuario.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
                <a class="dropdown-item" href="#">Cambiar Contraseña</a>
            </div>
      </div>
    </div>
    
</nav>